.mobileContainer {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    position: relative;
    display: flex;
    row-gap: 15px;
    z-index: 1000;
    max-width: 100vw;
    color: white;
    width: 100%;
    height: 100%;
    .mobileWrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 84px;
      backdrop-filter: blur(12px);
      background-color: rgba($color: #ffffff, $alpha: 0.4);
      z-index: 1003;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      .left {
        flex: 1;
        max-width: 126px;
        width: 100%;
        // background-color: #fff;

        .logo {
          height: 100%;
          width: 100%;
          object-fit: cover;
          padding: 2% 8%;
        }
      }
      .right {
        // background-color: #c72027;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #000000;
        margin-right: 10px;
        .button {
          width: 40px;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .menuOverLay {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
      width: 100%;
      height: 100vh;

      .menuOverLayContainer {
        width: 100%;
        height: 100%;
        z-index: 1001;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .menuOverLayWrapper {
          height: 100%;
          background-color: #fff;
          width: 80%;
          z-index: 1003;
          .top {
            display: flex;

            padding: 10px;
            background-color: #fff;

            .innerleft {
              max-width: 106px;
              width: 100%;
              // height: 40px;
              .logo {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
            .right {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              // background-color: #c72027;
              .left {
                .closeButton {
                  width: 40px;
                  height: 100%;
                }
              }
            }
          }
          .bottom {
            display: flex;
            flex-direction: column;

            row-gap: 40px;
            padding: 10px;
            background-color: #fff;
            .navWrapper {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              row-gap: 20px;
              border-radius: 32px;
              padding: 30px 25px;

              .nav {
                color: black;
                list-style-type: none;
                text-transform: capitalize;
                max-width: 201px;
                height: 42px;
                padding-top: 20px;
                font-size: 1.5rem;
                font-family: "Lucida Sans", "Lucida Sans Regular",
                  "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
                  sans-serif;
                .link {
                  text-decoration: none;
                  color: inherit;
                }
              }
            }
          }
        }
        .blurCard {
          background-color: rgba($color: #000000, $alpha: 0.4);
          z-index: 1001;
          backdrop-filter: blur(8px);
          height: 130vh;
          width: 100vw;
          position: absolute;
        }
      }
    }
  }
}
