.container {
  padding: 3% 10%;
  .wrapper {
    background-image: url("../../asset/logo/withbg.jpg"); // Adjust path if needed
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.506);
    padding: 5%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    .box {
      display: flex;
      flex-direction: column;
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        width: 180px;
        height: 50px;
        background-color: white;
        border: 1px solid black;
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 8% 10%;
    .wrapper {
      background-image: url("../../asset/logo/mbbg.jpg"); // Adjust path if needed
      padding: 8%;
      // background-color: yellow;
    }
  }
}
